@charset "utf-8";

body {
	background-color: #EFEFEF
}
#space {
	background-color: #575757;
	width: 100%;
	height: 25vh;
}
#fixedContainer {
	z-index: 10;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
#nav-buttons a{
	color: #fff;
	font-size: 22px;
	margin: 10px;
}
#video {
	width: 100%
}
#videoContainer-mobile {
	display: none;
}
#video-mobile {
	width: 100%;
}
#about h4 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #3D3D3D;
}
.navbar.navbar-expand-lg {
    background-color: #575757;
	position: fixed;
	width: 80%;
	border-radius: 20px;
	margin-top: 0.5%;
	margin-left: 10%;
	display: flex;
	justify-content: center;
}
#services-images{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
#logos{
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;
	height: 80%;
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container #copyright {
    margin-top: 10px;
}
#services-mobile {
	display: none;
}

.bg {
    background-color: #1D1D1D;
	height: 88vh;
}
.bg h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #C4C4C4;
	font-weight: bold;
}
.sections #contact {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#contact-home{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#contact-home p{
    font-weight: 300;
	font-size: 34px;
    text-align: center;
    max-width: 40vw;
	margin-bottom: 5%;
}
#contact-home a{
	background-color: cadetblue;
	border: 1px #000 solid;
	padding: 24px;
	border-radius: 24px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: 0.3s;
}
#contact-home a:hover{
	font-size: 20px;
}
#footer {
    background-color: #575757;
    height: 100%;
    padding: 10px;
}
#footer p {
    color: #ABABAB;
    margin-bottom: 0px;
}
.col-lg-4 .logo .img-fluid {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.container .row .col-lg-4 {
	padding: 10px
}
#linkedin {
	transition: 0.3s;
	cursor: pointer;
}
#linkedin:hover {
	width: 40px;
	height: auto;
}
#footer-links {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#footer-links a {
	color: #ABABAB;
	text-decoration: underline;
	display: block;
}
.sections {
    height: 100vh;
}
.sections #about {
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#links {
	display: flex;
	justify-content: space-around;
}
@media screen and (max-width: 768px){
	#fixedContainer{
		justify-content: center;
	}
	#fixedContainer a{
		font-size: 16px;
	}
	#logo-header{
		margin-bottom: 10px;
	}
	#space{
		height: 30vh;
	}
	#videoContainer{
		display: none;
	}
	#videoContainer-mobile {
		display: block;
	}
	#services{
		display: none;
	}
	#services-mobile{
		display: block;
	}
	#contact-home p {
		max-width: 70vw;
	}
}

/* privacy policy page */

.content {
	padding: 3%
}

.content h2 {
	font-weight: 700;
}

.content p {
	font-size: 18px;
	font-weight: 600;
	color: #1A1A1A;
	padding: 3px;
}

/* terms of use page */
.content #update {
	font-size: 21px;
	font-weight: bold;
}

.content span {
	font-weight: bold;
}

.content hr {
	background-color: #000000;
	height: 1px;
}

.content a {
	color: #1A1A1A;
	text-decoration: underline;
}

.content li {
	font-size: 18px;
	font-weight: 600;
	color: #1A1A1A;
}

/* contact page */
#contact-page{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
}
#contact .btn-group {
    display: block;
}
#contact h1 {
	font-weight: bold;
}
.buttons {
	display: inline-block;
  	font-weight: 400;
  	text-align: center;
  	vertical-align: middle;
  	cursor: pointer;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	border: 1px solid transparent;
  	padding: 0.375rem 0.75rem;
  	font-size: 1rem;
  	line-height: 1.5;
  	border-radius: 0.25rem;
  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  	background-color: #FBCA00;
  	border-color: #6c757d;
}
.btn-group a{
	color: #fff;
	text-decoration: none;
}
.buttons:hover {
	color: #fff;
  	text-decoration: none;
  	background-color: #F0C100;
  	border-color: #545b62;
}
/* about page */
#about-header{
	padding: 10%;
	display: flex;
}
.left-side{
	margin-right: 100px;
}
.left-side h1{
	margin-bottom: 25px;
	font-size: 60px
}
.left-side p{
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 50px;
}
#design_photo{
	margin-bottom: 10px;
}
.right-side p{
	font-size: 21px;
	margin-bottom: 20px;
}
#bold{
	font-weight: bold;
}
#logo-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #CFCFCF;
	padding: 50px;
	background-color: #262424;
}
#logo-div a{
	margin-bottom: 30px;
}
#logo-div p{
	font-size: 18px;
	text-align: center;
}
#emphasis{
	height: 50vh;
	background-color: #DCDCDC;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3%;
}
#emphasis p{
	text-align: center;
	font-size: 23px;
	max-width: 53%;
}
.values{
	padding: 10%;
	background-color: #DCDCDC;
	display: flex;
}
@media screen and (max-width: 768px){
	.left-side {
		margin-right: 0px;
	}
	.left-side h1{
		font-size: 55px
	}
	.left-side p{
		font-size: 20px;
	}
	.right-side{
		margin-top: 50px;
	}
	#about-header{
		display: block;
	}
	#emphasis p{
		font-size: 20px;
		max-width: 80%;
	}
	.values{
		display: block;
	}
	.side-photo{
		display: none;
	}
}
/* works page */
#title{
	font-size: 70px;
	margin-bottom: 40px;
	margin-left: 7.5%
}
#works{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 17px;
	padding: 0px 7.5%;
}
.container-img{
	width: 100%;
	height: 80%;
	position: relative;
	transition: 1s;
	overflow: hidden;
}
.container-img img{
	width: 100%;
	transition: 0.7s;
}
.container-img img:hover{
	transform: scale(1.1)
}
#works a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
#works h3{
	text-transform: uppercase;
}
@media screen and (max-width: 768px){
	#works{
		grid-template-columns: 1fr 1fr;
		padding: 0px;
	}
	.container-img{
		width: 70%
	}
	#works img{
		width: 100%;
	}
	#works h3{
		font-size: 24px;
	}
	#title{
		margin-left: 6%;
	}
}
/* services page */
#services-header{
	padding: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vw;
}
#services-header h1{
	max-width: 50%;
	text-align: center;
	font-size: 60px;
}
.services-bg-gray{
	display: flex;
	padding: 10%;
	background-color: #DCDCDC;
}
.services-bg{
	display: flex;
	padding: 10%;
}
#portfolio-link{
	display: flex;
	justify-content: center;
	align-items: center;
}
#portfolio-link h2{
	text-align: center;
	max-width: 20%;
}
#portfolio-link a{
	color: #3D3D3D;
	text-decoration: underline;
}
@media screen and (max-width: 768px){
	#services-header{
		height: 35vh;
	}
	#services-header h1{
		font-size: 40px;
		max-width: 80%;
	}
	.services-bg-gray{
		display: block;
	}
	.services-bg{
		display: block;
	}
	#img-responsible{
		display: none;
	}
	#portfolio-link h2{
	max-width: 40%;
	}
}
/* seara page */
.element-container{
	display: flex;
	padding: 5% 10%;
}
.seara-title{
	text-transform: uppercase;
	font-weight: 400;
}
.images-seara{
	display: flex;
	padding: 10%;
}
.products{
	padding: 10%;
}
.left-side-image{
	margin-right: 100px;
}
#coxinha{
	padding: 10%;
}
#destaque{
	height: 50vh;
	background-color: #DCDCDC;
	display: flex;
	justify-content: center;
	align-items: center;
}
#destaque p{
	text-align: center;
	font-size: 23px;
	max-width: 65%;
}
@media screen and (max-width: 768px){
	.element-container{
		display: block;
	}
	.seara-title{
		font-size: 35px;
	}
	.products{
		display: none;
	}
	.left-side-image{
		margin-right: 20px;
	}
	#destaque p{
		font-size: 17px;
		max-width: 80%;
	}
}