@charset "utf-8";

#imageContainer {
	height: 100%
}

#about h4 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: #3D3D3D;
}
#about-studio {
	letter-spacing: 5px;
}
.navbar.navbar-expand-lg {
    background-color: #575757;
}
#logos{
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer .container #copyright {
    margin-top: 10px;
}

.bg {
    background-color: #2E2E2E;
}
.sections #contact {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#contact p {
    font-weight: 300;
	font-size: 27px;
    text-align: center;
    max-width: 40vw;
}
#contact .btn-group {
    display: block;
}
#contact h1 {
	font-weight: bold;
}
#footer {
    background-color: #575757;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#footer p {
    color: #ABABAB;
    margin-bottom: 0px;
}
.col-lg-4 .logo .img-fluid {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.container .row .col-lg-4 {
	padding: 10px
}

#icons {
	display: flex;
	justify-content: space-around;
	align-items: flex-end
}
#icons a .img-fluid {
	transition: 0.3s;
}
#icons a .img-fluid:hover {
	width: 32px;
	height: auto;
}
.row #icons a {
    cursor: pointer;
}

.row #footer-contact  {
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.sections {
    height: 100vh;
}
.sections #about {
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navbar.navbar-expand-lg {
	display: flex;
	justify-content: center;
}

#teste {
	width: 100%;
}
