@charset "utf-8";

body {
	background-color: #E3E3E3
}
#space {
	background-color: #575757;
	width: 100%;
	height: 20vh;
}
#fixedContainer {
	z-index: 10;
}
#video {
	width: 100%
}
#videoContainer-mobile {
	display: none;
}
#video-mobile {
	width: 100%;
}
#about h4 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #3D3D3D;
}
.navbar.navbar-expand-lg {
    background-color: #575757;
	position: fixed;
	width: 80%;
	border-radius: 20px;
	margin-top: 0.5%;
	margin-left: 10%;
	display: flex;
	justify-content: center;
}
#logos{
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-content: center;
	height: 80%;
}
.item {
	display: flex;
	justify-content: center;
	align-items: center;
}
#footer .container #copyright {
    margin-top: 10px;
}
#services-mobile {
	display: none;
}

.bg {
    background-color: #1D1D1D;
	height: 88vh;
}
.bg h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #C4C4C4;
	font-weight: bold;
}
.sections #contact {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
#contact p {
    font-weight: 300;
	font-size: 24px;
    text-align: center;
    max-width: 40vw;
	margin-bottom: 10%;
}
#contact .btn-group {
    display: block;
}
#contact h1 {
	font-weight: bold;
}
#footer {
    background-color: #575757;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#footer p {
    color: #ABABAB;
    margin-bottom: 0px;
}
.col-lg-4 .logo .img-fluid {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.container .row .col-lg-4 {
	padding: 10px
}

#icons {
	display: flex;
	justify-content: space-around;
	align-items: flex-end
}
#icons a .img-fluid {
	transition: 0.3s;
}
#icons a .img-fluid:hover {
	width: 32px;
	height: auto;
}
.row #icons a {
    cursor: pointer;
}

.row #footer-contact  {
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.sections {
    height: 100vh;
}
.sections #about {
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (max-width: 768px){
	#videoContainer{
		display: none;
	}
	#videoContainer-mobile {
		display: block;
	}
	#services{
		display: none;
	}
	#services-mobile{
		display: block;
	}
	#contact p {
		max-width: 70vw;
	}
}